body {
    overflow-y: hidden;
}

.is-mobile .modal-content {
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.is-mobile .modal-dialog {
    position: absolute;
    left: 0;
    height: 85%;
    width: 93%;
    padding: 0;
}

.is-mobile .modal-body {
    height: 100%;
}

.is-mobile div#loginModal .innerContainer {
    margin-top: 30%;
}

.modal {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

.modal .close {
    height: 20px;
    margin-right: -12px;
    margin-top: -8px;
    background-color: #FFD800;
    opacity: 1;
    height: 40px;
    width: 40px;
    font-size: 2.5em;
    padding-left: 5px;
    border: 0px none;
    float: right;
}

.modal .\34 u, .\34 u\24 {
    float: left;
    width: 32%;
}

.modal-body {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
    width: auto;
    margin-left: 25px;
    margin-right: auto;
}

.innerContainer {
    margin-top: 0;
}

.inner {

}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content {
    background-color: black;
    text-align: center;
}

#mainHeader {
    background-color: yellow;
    color: black;
    border: 2px medium black;
}

.modal-header {
    color: white;
    background-color: #F8CD3B;
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
    linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px
}

.modal-footer {
    color: white;
    background-color: #F8CD3B;
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
    linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px
}

.icon {
    float: right;
    text-decoration: none;
    border-bottom: none;
    position: relative;
    font-size: 2.1em;
    text-decoration: none;
}

.icon:hover {
    text-decoration: none;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {

}

.icon.major {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 3px;
    border: solid 2px #fff;
    display: inline-block;
    font-size: 2.1em;
    height: calc(3em + 2px);
    line-height: 2.1em;
    text-align: center;
    width: calc(2.1em + 2px);
}

.icon.major:before {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    font-size: 2.1em;
}

@media screen and (max-width: 736px) {

    .icon.major {
        font-size: 2.1em;
    }

}

.icon.style1 {
    color: #00ffcc;
}

.icon.style2 {
    color: #00f0ff;
}

.icon.style3 {
    color: #76ddff;
}

/*Elements */
option {
    background-color: black;
    color: white;
}

form {
    margin: 0 0 2em 0;
}

label {
    color: #fff;
    display: block;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(144, 144, 144, 0.25);
    border-radius: 3px;
    border: none;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 0 2px #F8CD3B;
}

.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}

.select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.select-wrapper:before {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    color: #fff;
    content: '\f078';
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em;
}

.select-wrapper select::-ms-expand {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 2.75em;
}

textarea {
    padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    background: rgba(144, 144, 144, 0.25);
    border-radius: 3px;
    content: '';
    display: inline-block;
    height: 1.65em;
    left: 0;
    line-height: 1.58125em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.65em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background: #2e3842;
    color: #fff;
    content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    box-shadow: 0 0 0 2px #F8CD3B;
}

input[type="checkbox"] + label:before {
    border-radius: 3px;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

.formerize-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

#header.alt h1.headCaption {
    background-color: #F8CD3B;
    opacity: 1;
    width: 100%;
    position: fixed;
    left: 0;
}

#map {
    opacity: 0.5;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
}

#map.mOP {
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.prefPanel {
    background-color: #F8CD3B;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 100%;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    transition: height .5s;
    -webkit-transition: height .5s;
}

.prefPanel.zero {
    overflow: hidden;
    transition: height .5s;
    -webkit-transition: height .5s;
    height: 0;
}

.is-mobile .prefPanel {
    width: 100%;
}

.prefPanel a {
    text-decoration: none;
}

.prefPanel .verified {
    border-color: green;
    background-color: green;
}

#registerModal input[type="submit"] {
    float: right;
}

/*Section styles*/
#about {
    background-color: black;
}

/*Custom Element Styles*/
#driversModal .modal-dialog {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
}

.dataTables_length label {
    display: none;
}

.dataTables_filter label {
    display: none;
}

.dataTables_info {
    display: none;
}

.dataTables_wrapper .paginate_button:hover {
    text-decoration: none;
}

.dataTables_wrapper .paginate_button {
    text-decoration: none;
}

.dataTables_wrapper #driversTable_next {
    display: none;
}

.dataTables_wrapper #driversTable_previous {
    display: none;
}

.dataTables_wrapper a {
    border-bottom: none;
}

#page-wrapper {
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 1;
    padding-top: 3em;
}

#page-wrapper:before {
    background: transparent;
    content: '';
    display: block;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
}

.containerCard {
    position: relative;
    margin: 0 auto 40px;
    overflow-x: scroll;
}

#card {
    width: 100%;
    height: 100%;
    position:absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: all 1s ease 0s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
    top:40%;
}

#card.flipped {
    -webkit-transform: translateX(-100%) rotateY(-180deg);
    -moz-transform: translateX(-100%) rotateY(-180deg);
    -o-transform: translateX(-100%) rotateY(-180deg);
    transform: translateX(-100%) rotateY(-180deg);
    top:0;
}

#card figure {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#card .front {
    display: table-cell;
    vertical-align: middle;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

#card .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    top:0;
    position:fixed;
}